<div class="container col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
	<div class="panel panel-default panel-transparent">
	
	  <div class="panel-heading">{{'kivetelnapok.Kivetelnap.Create.Title' | translate}}</div>
	  
	  <div class="panel-body">
		<div class="row">
			<div class="pull-left">
				<button type="button" ui-sref-confirm-unsaved-data="app.exceptiondays" class="btn btn-transparent btn-sm">
				  <span class="glyphicon glyphicon-arrow-left"></span> {{'kivetelnapok.Kivetelnapok.Title' | translate}}
				</button>
			</div>
		</div>
		
		<div class="row">
			<form name="vm.exceptiondaycreateform" class="form-horizontal" ng-submit="vm.create()">
  			  <div class="form-group required">
			    <label for="inputDate" class="col-sm-3 control-label">{{'kivetelnapok.Label.Datum' | translate}}</label>
			    <div class="col-sm-9">
			      <input id="inputDate" ng-model="vm.kivetelnapCreateDTO.datum" type="date" class="form-control" ng-required="true" >
			    </div>
			  </div>
			  
  			  <div class="form-group required">
			    <label for="inputType" class="col-sm-3 control-label">{{'kivetelnapok.Label.Tipus' | translate}}</label>
			    <div class="col-sm-9">
	      		  <ui-select id="inputType" ng-model="vm.kivetelnapCreateDTO.tipus" ng-required="true">
		            <ui-select-match>{{'enum.KivetelnapTipus.' + $select.selected | translate}}</ui-select-match>
		            <ui-select-choices repeat="exceptionday in vm.exceptiondays | enumFilter: $select.search:'KivetelnapTipus'">
		              <span ng-bind-html="'enum.KivetelnapTipus.' + exceptionday | translate | highlight: $select.search"></span>
		            </ui-select-choices>
		          </ui-select>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9">
			      <button type="submit" class="btn btn-primary btn-sm" ng-disabled="vm.exceptiondaycreateform.$invalid">
			 	    <span class="glyphicon glyphicon-floppy-disk"></span> {{'common.button.create' | translate}}
				  </button>
			    </div>
			  </div>
			</form>
		</div>
	  </div>
	</div>
</div>

