<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans				http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security			http://www.springframework.org/schema/security/spring-security.xsd">

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="felhasznaloDAO">
			<password-encoder ref="passwordEncoder">
				<salt-source user-property="nev" />
			</password-encoder>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />

	<global-method-security pre-post-annotations="enabled"
		proxy-target-class="true" />

</beans:beans>
