<div>
	<table ng-table="exceptiondaysTableParams" show-filter="false" class="table">
		<tr ng-repeat="exceptionday in $data" ng-click="exceptionDay.$selected = !exceptionday.$selected; changeSelection(exceptionday)" ng-class="{'table-data-row-selected': exceptionday.$selected}" class="table-data-row" ng-class-odd="'table-data-row-odd'" ng-class-even="'table-data-row-even'">
			<td data-title="translation['TABLE_HEADER_DATE']">{{exceptionday.datum | date}}</td>
			<td data-title="translation['TABLE_HEADER_TYPE']">{{translation['KivetelnapTipus_' + exceptionday.tipus]}}</td>
		</tr>
	</table>
	
	<span class="btn btn-default" ng-click-confirmation-on-delete="delete()" ng-disabled="!selectedExceptionday" required-role="ROLE_ADMINISTRATOR">{{translation['BUTTON_DELETE']}}</span>
	<span class="btn btn-default" ng-click="showCreate()" required-role="ROLE_ADMINISTRATOR">{{translation['BUTTON_CREATE']}}</span>
</div>
